@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding 0;
}

header nav{
	background-color:#000;
}

header nav ul{
	list-style:none;
	overflow:hidden;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	display:block;
	text-decoration:none;
	padding: 20px;
	padding-right: 40px;
	padding-left: 40px;
	color:#8C0CD7;
	font-family: arial black;
	font-size: 14px;
}

header nav ul li a:hover{
	background-color:#639;
	color:#fff;
}

footer nav ul{
	padding-top: 50px;
}

footer nav ul li{
	padding-top: 20px;
}

footer nav ul li a{
	text-decoration: none;
	font-family: arial;
	color: #FFF;
}

footer nav ul li a:hover{
	color: #8C0CD7;
}

#div1{
	background-color: #fff;
	margin: auto;
	width: 85%;
	max-width: 1000px;
}
	#div1 p{
		margin: 50px;
	}

#div2{
	background-color: #000;
	width: 100%;
	height: 350px;
	margin-bottom: 0;
}

#nav{
	margin: auto;
}

.div3{
	float: left;
	color: #fff;
	font-family: monospace;
	width: 30%;
	height: 100%;
}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
}

.img{
	padding: 20px;
}
