@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding 0px;
}

body{
	background-image:url(fondo1.jpg);
}

header nav{
	background-color:#000;
}

header nav ul{
	list-style:none;
	overflow:hidden;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	display:block;
	text-decoration:none;
	padding: 20px;
	padding-right: 40px;
	padding-left: 40px;
	color:#8C0CD7;
	font-family: arial black;
	font-size: 14px;
}

header nav ul li a:hover{
	background-color:#639;
	color:#fff;
}

#img{
	padding: 20px;
}

#div1{
	background-color: #fff;
	margin: auto;
	width: 85%;
	max-width: 1000px;
	padding: 15px;
}
	#div1 p{
		margin-bottom: 40px;
	}

#div2{
	background-color: #000;
	width: 100%;
	height:
}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
}
