@charset "UTF-8";
/* CSS Document */

*{
  padding: 0;
  margin: 0;
}

.contenedor{
  margin: auto;
  background: #000;
  width: 80%;
  max-width: 1000px;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-top: 20px;
  color: #fff;
}

.contenedor form{
  padding-left: 50px;
  padding-top: 20px;
}

footer{
  padding-top: 20px;
}

#img{
  position: absolute;
  top: 300px;
  left:800px;
}
